nav ul {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}
.active {
  background-color: #1890ff;
}
// .active:after {
//   content: ' (current page)';
// }
.nav li {
  padding: 0 20px;
}
