nav ul {
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  height: 64px;
}
.active {
  background-color: #1890ff;
}

.nav li {
  // width: 5rem;
  padding: 0 10px;
  list-style: none;
  height: 64px;
}
