*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;

  // @include respond(phone){
  //     font-size: 56.25%;
  // }

  // @include respond(tab-port){
  //     font-size: 50%;
  // }

  // @include respond(big-desktp){
  //     font-size: 75%;
  // }
}
.site-layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: white;
}

.ant-layout-footer {
  text-align: center;
  height: 10vh;
}

.ant-layout-header {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
}


